// COLORS
$header-color: #1d1d1d;
$pg-about-color: rgb(157, 157, 157);

// IMAGES


// TEXT
$pg-title-text: 'Arial', sans-serif;

// LAYOUT
$hdr-bar-height: 3.5em;








// // PINKS
// $light-pink: rgb(250, 140, 162);
// $dark-pink: rgb(194, 27, 80);

// // GREENS
// $light-green: rgb(232, 250, 150);
// $dark-green: rgb(202, 230, 78);

// // YELLOWS
// $light-yellow: rgb(255, 230, 105);
// $dark-yellow: rgb(255, 225, 74);